
h1{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 70px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(/Image/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input{
    margin: 0.25em 0em 1em 0em;
    outline: none;
    padding: 0.3em;
    border: none;
    background-color: rgb(225, 225, 225);
    border-radius: 0.25em;
    color: black;
    
}

form{
    display: flex;
    flex-direction: column;
   
}

button{
    padding: 0.45em;
    border: none;
    outline: none;
    background-color:hsl(198, 55%, 79%);
    color: black;
    margin-left: 30px;
}

button:hover{
    cursor: pointer;
    background-color: #2ee2e2;
}

p{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

a{
    font-size: 12px;
    margin-left: 10px;
    margin-top: 7px;
}

label {
    color: red;
}
